button {
    padding: 15px;
    width: 230px;
    cursor: pointer;
    background-color: black;
    color: white;
    background-position: -200px;
    font-size: 16px;
    font-style: bold;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px yellow;
    font-family: 'Press Start 2P', cursive;
    outline: none;
}
button:hover {
    color: yellow;
    text-shadow: 2px 2px 5px yellow;
    border-color: yellow;
    box-shadow: 2px 2px 5px black;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    box-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px yellow;
}