.navbar {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #262626;
    width: 100%;
    border-style: outset;
    border-color: darkslategray;
}
div.transbox {
    opacity: 0.6;
    background-color: #262626;
    padding: 10px;
    border-style: outset;
    border-color: darkslategray;
}
#setting {
    color: orange;
    text-shadow: 1px 1px 50px orange;
    padding: 5px;
}
#setting:hover {
    text-shadow: 1px 1px 10px orangered;
}
#scorekeep {
    padding: 5px;
    color: blueviolet;
    text-shadow: 1px 1px 50px blueviolet;
}
#scorekeep:hover {
    text-shadow: 1px 1px 50px purple;
}
#profile {
    color: lime;
    padding: 5px;
    text-shadow: 1px 1px 50px lime;
}
#profile:hover {
    text-shadow: 1px 1px 50px green;
}