@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #262626;
    overflow-x: hidden;
    padding-top: 20px;
    border-color: black;
    border-style: 2px solid;
    box-shadow: 1px 1px 50px black;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 160px;
    margin-top: 100px;
    font-size: 28px; 
    padding: 0px 10px;
}
h3 {
    color: yellow;
    text-shadow: 1px 1px 50px yellow;
}
.copyright {
    color: gold;
    text-shadow: 1px 1px 50px gold;
    font-size: 12px;
}
hr.new1 {
    border: 1px solid black;
}
hr.new2 {
    border:2px solid #262626;
}