table {
    width: 100%;
    color: white;
    margin-top: 100px;
    outline: none;
}
th {
    padding: 20px;
}
td {
    padding: 20px;
    text-align: center;
    color: white;
    opacity: 0.5;
}
td:hover {
    cursor: pointer;
    opacity: 1;
}
th:hover {
    cursor: not-allowed;
}
th, td {
    text-shadow: 2px 2px 5px black;
    color: white;
    font-size: 28px;
}