html,body {
    margin: auto;
    text-align: center;
    background-image: url("https://wallpaperset.com/w/full/2/7/6/158515.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    font-family: 'Press Start 2P', cursive;
    outline: none;
    color: white;
}
div.transbox {
    margin: 25px;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    color: white;
    margin-top: 100px;
}
/* width */
::-webkit-scrollbar {
    width: 100%;
}
/* Track */
::-webkit-scrollbar-track {
    background: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: yellow;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
}