html,body {
    margin: auto;
    text-align: center;
    background-position: center;
    background-color: #262626;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    font-family: 'Press Start 2P', cursive;
    outline: none;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 100%;
}
/* Track */
::-webkit-scrollbar-track {
    background: darkslategray;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkslategray; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #262626;
    box-shadow: 1px 1px 10px #262626;
    border-radius: 10px;
}