table {
    width: 100%;
    color: white;
}
th {
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-collapse: inherit;
    border-radius: 10px;
}
td {
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    color: white;
}
td:hover {
    cursor: pointer;
}
th, td {
    text-shadow: 2px 2px 5px black;
    color: white;
    box-shadow: 2px 2px 5px yellow;
    font-size: 28px;
}